@use 'variables' as v;
@use 'mixins' as m;

%hover-black {
    &:hover {
        cursor: pointer;
        color: v.$color_black;
    }
}

%hover-white {
    &:hover {
        cursor: pointer;
        color: v.$color_white;
    }
}

%hover-black-icon {
    &:hover {
        cursor: pointer;
        stroke: v.$color_black;
    }
}

%cloud-template {
    width: 703px;
    height: 252px;
    background: url('../assets/img/cloud_alpha.png') center/contain no-repeat;
    padding: 0, 1em;
}

%input-template {
    width: 100%;
    height: 47px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid v.$color_grey;
    @include m.font(25px, 400, v.$color_black);

    &::placeholder {
        @include m.font(25px, 100, v.$color_grey);
    }
}